@font-face {
    font-family: 'Varela Round';
    src: local('Varela Round'), local('VarelaRound-Regular'), url('../fonts/Varelaround/Varelaround.woff2') format('woff2'), url('../fonts/Varelaround/Varelaround.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
